<a class="visually-hidden" href="#main-content">Skip to content</a>
<header class="banner" role="banner">
  <div class="wrapper">
    {% set ariaLabel = 'navigation' %}
    {% include "partials/global/navigation.njk" %}
    </div>
  </div>
</header>
